.center {
    margin: auto;
    width: 50%;
  }

.logo{
    display: block;
    max-width:100px;
    max-height: 100px;
    width: auto;
    height: auto;
}

.picture-preview{
  max-width:500px;
  max-height: 500px;
  width: auto;
  height: auto;
  row-gap:20px;
}

.picture-preview-small{
  max-width:400px;
  max-height: 400px;
  width: auto;
  height: auto;
  row-gap:20px;
}

.text-thirdary {
  color: #56B2CB !important; }

.pic-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}